# Zenital SQL and Python Assessment

## Data Gathering
Let's read the different Excel sheets and load them into data frames

In [8]:
import pandas as pd

xlsx_file = pd.ExcelFile("dataset/technical-test-tables.xlsx")

### Messages

In [9]:
messages_df = pd.read_excel(
    xlsx_file, sheet_name="customer_courier_chat_messages "
)
messages_df.head()

,sender_app_type,customer_id,from_id,to_id,chat_started_by_message,order_id,order_stage,courier_id,message_sent_time
0,Customer IOS,99,99,21,False,555,PICKING_UP,21,2022-08-09 08:02:05
1,Courier IOS,99,21,99,False,555,ARRIVING,21,2022-08-09 08:01:15
2,Customer IOS,99,99,21,False,555,PICKING_UP,21,2022-08-09 08:00:10
3,Courier Android,122,87,122,True,38,ADDRESS_DELIVERY,87,2022-08-09 07:55:10
4,Customer Android,43,43,75,False,875,PICKING_UP,75,2022-08-07 14:55:10

In [10]:
messages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sender_app_type          11 non-null     object
 1   customer_id              11 non-null     int64
 2   from_id                  11 non-null     int64
 3   to_id                    11 non-null     int64
 4   chat_started_by_message  11 non-null     bool
 5   order_id                 11 non-null     int64
 6   order_stage              11 non-null     object
 7   courier_id               11 non-null     int64
 8   message_sent_time        11 non-null     datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(5), object(2)
memory usage: 847.0+ bytes

In [11]:
orders_df = pd.read_excel(xlsx_file, sheet_name="orders")
orders_df

   order_id city_code
0        38       BCN
1       134       OPO
2       555       BCN
3       875       VAL

In [12]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   order_id   4 non-null      int64
 1   city_code  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

## Data Cleaning
The data frames are already cleaned and can be exported to the SQL data base as they are.

## Export to SQL DB

In [14]:
import sqlite3

cnx = sqlite3.connect("dataset/customer-courier.db")
messages_df.to_sql(
    name="customer_courier_chat_messages", con=cnx, if_exists="replace"
)
orders_df.to_sql(name="orders", con=cnx, if_exists="replace")

4